.nav {
  margin-bottom: 20px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.nav__item {
  text-transform: uppercase;
  list-style: none;
  width: 50%;
  transition: all 0.2s linear;
}
.nav__item:not(:last-child) {
  margin-right: 10px;
}
.nav__item-link:hover {
  background-color: linen;
  box-shadow: 10px 17.321px 40px 0px rgba(107, 125, 131, 0.3);
  z-index: 9999;
}
.nav__item-link {
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s linear;
  text-decoration: none;
  color: #000000;
  padding: 10px 20px;
  font-size: 20px;
  display: block;
  font-weight: 700;
}
.nav__item-link.active {
  background-color: linen;
}
/* .nav__item-link:not(:last-child) {
  margin-right: 10px;
} */
